<!DOCTYPE html>
<html>
<head>
  <title>Registration</title>
  <%= stylesheet_link_tag    "registration/application", media: "all" %>
  <%= javascript_include_tag "registration/application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<% flash.each do |k,v| %>
	<div class="flash <%= k %>"><%= v %></div>
<% end %>
<%= yield %>

</body>
</html>
